<div>
    <input [(ngModel)]="product.id" placeholder="Id del producto" />
    <input [(ngModel)]="product.name" placeholder="Nombre del producto" />
    <input [(ngModel)]="product.price" type="number" placeholder="Precio" />
    <input [(ngModel)]="product.description" placeholder="Descripción" />
    <input [(ngModel)]="product.type" placeholder="Tipo" />
    <input [(ngModel)]="product.stock" type="number" placeholder="Stock" />
    <button (click)="updateProduct()">Actualizar Producto</button>
  </div>
  