:root {
    --color-violeta: #7f58af;
    --color-naranja: #f39c12;
    --color-fondo: #ffffff;
    --color-texto: #333333;
    --color-fondo-seccion: #f4f4f4;
    --color-borde: #dddddd;
    --transition: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

/* General */
body {
    margin: 0;
    font-family: 'Garamond', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Encabezado */
.hero {
    background: linear-gradient(to bottom, var(--color-violeta), var(--color-naranja));
    color: var(--color-fondo);
    text-align: center;
    padding: 40px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo img {
    height: 60px;
    transition: var(--transition);
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 15px;
}

ul{
    list-style: none;
}

.nav-links li a {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: var(--transition);
    color: var(--color-texto);
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-fondo);
}

/* Buscador */
.search-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    font-size: 1rem;
    width: 300px;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.397); /* Color de fondo */
    color: var(--color-texto); /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Relleno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-flex; /* Alineación horizontal */
    align-items: center; /* Centrado del icono y el texto */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: all 0.3s ease; /* Efecto de transición */
  }

  .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px);
 color: var(--color-fondo);
  }

  .btn-primary i {
    margin-right: 8px; /* Espaciado entre el icono y el texto */
  }

/* Contenedor principal */
.layout-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 100%;
}

/* Catálogo */
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido en el eje horizontal */
    justify-content: center; /* Centra el contenido en el eje vertical */
    flex: 1;
    background-color: var(--color-fondo-seccion);
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: nowrap;

}

/* Contenedor de tarjetas de productos */
.product-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

/* Ocultar barras de desplazamiento */
.product-cards::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

/* Tarjetas de productos */
.product-card {
    display: inline-block;
    background: var(--color-fondo);
    padding: 15px;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    text-align: center;
    transition: var(--transition);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    margin-bottom: 20px; /* Espacio debajo de cada tarjeta */
}

.product-card:hover {
    
    box-shadow: 0 0 20px  var(--color-violeta);
    transform: translateY(-5px);
    
}

/* Imagen de producto */
.product-image img {
    max-width: 100%;
    height: auto; 
    border-radius: 6px;
    transition: var(--transition);
    height: 180px;
    object-fit: contain;
}

.product-image img:hover {
    transform: scale(1.05);
}

.search_image {
    max-width: 100%;
    height: auto; 
    border-radius: 6px;
    transition: var(--transition);
    height: 180px;
    object-fit: contain;
}

/* Detalles del producto */
.product-details {
    padding: 10px;
}

.product-description {
    font-size: 1rem;
    color: var(--color-texto);
    margin: 5px 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-naranja);
}

/* Botones de las tarjetas */
.card-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos del botón secundario */
.btn-secondary {
    padding: 8px 16px;
    background-color: transparent;
    color: var(--color-violeta);
    border: 2px solid var(--color-violeta);
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition);
}

.btn-secondary:hover {
    background-color: var(--color-violeta);
    color: var(--color-fondo);
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-fondo);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content h2 {
    color: var(--color-violeta);
}

.modal-content button[type="submit"] {
    background-color: var(--color-fondo);
    color: var(--color-violeta);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.modal-content button[type="submit"]:hover {
    background-color: var(--color-violeta);
    color: var(--color-fondo);
}


/* Botón cerrar */
.close {
    color: var(--color-texto);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--color-violeta);
    text-decoration: none;
}

/* Inputs y botones */
form input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #7f58af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #f39c12;
}

/* Animación de zoom-in */
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Contenedor de categorías */
.categories-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 10px;
}

/* Botones de categorías */
.category-button {
    background-color: rgba(255, 255, 255, 0.397); /* Color de fondo */
    color: var(--color-texto); /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Relleno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-flex; /* Alineación horizontal */
    align-items: center; /* Centrado del icono y el texto */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: all 0.3s ease; 
    margin: 10px;
}

.category-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px);
 color: var(--color-fondo);
}

.category-button:active {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px);
 color: var(--color-fondo);
}

/* Estilos para cuando una categoría está seleccionada */
.category-button.active {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px);
 color: var(--color-fondo);
}

/* Responsive */
@media (max-width: 768px) {
    .categories-container {
        flex-direction: column;
        align-items: center;
    }
    
    .category-button {
        width: 80%;
        text-align: center;
    }
}
